.container {
  height: 100vh;
  position: relative;
  text-align: center;
}

.center {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.name {
  font-size: 4rem;
  margin: 8px;
}

.email {
  margin: 8px;
}

.role {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.9);
}
